{% extends 'base.html' %}
{% block title %} Deaktywuj ogloszenie {% endblock %}
{% block content %}
<form method="post">
    {% csrf_token %}
    <p>Czy na pewno chcesz zakończyć ogloszenie <a href={% url 'offer_detail'  pk=offer.pk %}> {{ offer.name }}</a> ?</p>
{#    <input type="radio" id="yes" name="yes_no" value="yes" checked>#}
{#    <label for="yes">Tak</label><br>#}
{#    <input type="radio" id="no" name="yes_no" value="no">#}
{#    <label for="no">Nie</label><br>#}
    {{ form }}
    <input type="submit" value="Wyślij">
</form>
{% endblock %}